<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if current_user %>
  <p> Hallo <%= current_user.email %> </p>
<% end %>
<div class="col-md-12">
  <div class="thumbnail">
    <img>
      <%= image_tag("start_index.jpg", :alt => "rss feed") %>
    </img>

  </div>
</div>
